<%- include('partials/header') %>
    <div class="alert alert-danger " role="alert" >
        <h1 class="alert-heading mt-5">Signup failed!</h1>
        <p>There was a problem singing you up. Please try again or Contact the developer</p>
        <a class="btn btn-md btn-danger" href="/login">Try Again</a>        
    </div>
<%- include('partials/footer') %>
